[submodule "resources/NorthwindUI5"]
	path = resources/NorthwindUI5
	url = https://github.com/bifunctor/NorthwindUI5.git
[submodule "resources/openui5-sample-app"]
	path = resources/openui5-sample-app
	url = https://github.com/SAP/openui5-sample-app.git
[submodule "resources/SubmitForm"]
	path = resources/SubmitForm
	url = https://git.wfm.health.qld.gov.au/myHR/FioriApps/SubmitForm.git
[submodule "resources/UploadForm"]
	path = resources/UploadForm
	url = https://git.wfm.health.qld.gov.au/myHR/FioriApps/UploadForm.git
[submodule "resources/personlookupsubmitform"]
	path = resources/personlookupsubmitform
	url = https://git.wfm.health.qld.gov.au/myHR/FioriApps/personlookupsubmitform
[submodule "resources/PersonLookup"]
	path = resources/PersonLookup
	url = https://git.wfm.health.qld.gov.au/myHR/FioriApps/PersonLookup
